@import "bootstrap/bootstrap.less";

body {
  //padding-top: 40px;
  padding-bottom: 40px;
  background:url(../img/pw_maze_white.png);
}
.caption {
	text-align:center;
}
.well.profile {
	padding: 5px 3px 5px 8px;
}
.twitter-follow-button {
	margin-bottom:5px; margin-right:3px;
}

.IN-widget {
	.btn-mini; 
	margin-left:20px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Tom Ray!
   ========================================================================== */
.tab-content {
	h1 {
		font-size:90px;
		line-height:115px;
	}
}










